/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*************************************
keyframes
*************************************/

@-webkit-keyframes home_image_slide {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes home_image_slide {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes appear_up {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    40% {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    100% {
        opacity: 100;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@keyframes appear_up {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    40% {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    100% {
        opacity: 100;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@-webkit-keyframes eye_movement {
    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    25% {
        -webkit-transform: translate(0, 8%);
                transform: translate(0, 8%);
    }

    30% {
        -webkit-transform: translate(0, 8%);
                transform: translate(0, 8%);
    }

    50% {
        -webkit-transform: translate(7%, 0);
                transform: translate(7%, 0);
    }

    55% {
        -webkit-transform: translate(7%, 0);
                transform: translate(7%, 0);
    }

    75% {
        -webkit-transform: translate(-3%, -5%);
                transform: translate(-3%, -5%);
    }

    80% {
        -webkit-transform: translate(-3%, -5%);
                transform: translate(-3%, -5%);
    }

    90% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@keyframes eye_movement {
    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    25% {
        -webkit-transform: translate(0, 8%);
                transform: translate(0, 8%);
    }

    30% {
        -webkit-transform: translate(0, 8%);
                transform: translate(0, 8%);
    }

    50% {
        -webkit-transform: translate(7%, 0);
                transform: translate(7%, 0);
    }

    55% {
        -webkit-transform: translate(7%, 0);
                transform: translate(7%, 0);
    }

    75% {
        -webkit-transform: translate(-3%, -5%);
                transform: translate(-3%, -5%);
    }

    80% {
        -webkit-transform: translate(-3%, -5%);
                transform: translate(-3%, -5%);
    }

    90% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}


/************************************* 
all pages 
*************************************/
* {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    line-height: normal;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --text-lightyellow: rgb(239, 238, 214);
    --text-midblue: rgb(94, 122, 147);
    --bg-darkblue: rgb(41, 53, 72);
    --button-blue: rgb(61, 112, 163);
    --buttonhover-darkblue: rgb(57, 62, 110);
    --link-aqua: rgb(106, 196, 192);
    --border-stroke: solid .5px var(--text-lightyellow);
}

body {
    background-color: var(--bg-darkblue);
    font-size: 1.2em;
    color: var(--text-lightyellow);
}

.container {
    width: 100vw;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    position: relative;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

.button {
    font-size: 1em;
    font-weight: 700;
    color: var(--text-lightyellow);
    background-color: var(--button-blue);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
}

.button:hover,
.button:focus {
    background-color: var(--buttonhover-darkblue);
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-darkblue);
}

nav {
    width: 100%;
    font-weight: 700;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: var(--border-stroke);
}

.navbar-logo {
    padding: 5px 5px 0 5px;
}

.navbar-logo img {
    width: 100px;
}

.navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
}

.navbar-links__item,
a {
    color: var(--link-aqua);
}

.navbar-links__item:hover {
    color: var(--text-lightyellow);
}

.navbar-links__item.active {
    color: var(--text-lightyellow);
}

.navbar-links__item,
.navbar-links__item:hover,
.button,
.button:hover {
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

footer {
    padding: 20px 0;
    border-top: var(--border-stroke);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-copyright {
    color: var(--text-midblue);
    font-size: 0.8em;
    font-weight: 200;
}

.footer-links__item img {
    width: 50px;
    padding: 0 10px;
    height: auto;
}

/************************************* 
home page
*************************************/

.home-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0;
    position: relative;
}

.home-content__left-column {
    width: 22%;
    padding: 30px 15px 0 0;
    position: relative;
    height: 100%;
}

.sticky-container {
    position: sticky;
}

.home-content svg {
    margin: 10px auto 30px auto;
    width: 70%;
    display: block;
}

.eyes {
    -webkit-animation: eye_movement 10s infinite;
            animation: eye_movement 10s infinite;
}

.sticky-container .button {
    display: block;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.home-content__right-column {
    padding-left: 3%;
    width: 78%;
}

.portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
}

.portfolio-grid__item {
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
    -webkit-animation: appear_up 1.5s ease-out;
            animation: appear_up 1.5s ease-out;
}

.portfolio-grid__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


/************************************* 
about page
*************************************/

.about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
}

.content-leftcolumn {
    width: 30%;
}

.about-content__image {
    height: 900px;
    overflow: hidden;
    position: relative;
    height: 430px;
    background-image: url(../img/IMG_4801.JPG);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-animation: home_image_slide 1.3s ease-out;
            animation: home_image_slide 1.3s ease-out;
}

.content-rightcolumn {
    padding: 0 0 50px 50px;
    width: 70%;
}

.content-rightcolumn h1 {
    margin-top: 0;
}

.about-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    padding-top: 20px;
}

.about-grid__item:first-child,
.about-grid__item:nth-child(2) {
    font-weight: 700;
    border-bottom: var(--border-stroke)
}

/************************************* 
contact page
*************************************/
.contact-content {
    margin: 20px 0;
}

label {
    margin: 15px 0 5px 0;
    display: block;
}

.input-area {
    background-color: var(--text-lightyellow);
    border: none;
    border-radius: 5px;
    width: 500px;
    font-size: 1em;
}

#email {
    height: 30px;
}

#message {
    height: 250px;
}

/************************************* 
meet app page
*************************************/

.meet-content{
    margin: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.meet-content__left{
    width: 40%;
    margin-top: 25px;
}

.meet-content__left > img{
    width: 100%;
    border-radius: 20px;
}

.meet-content__right{
    width: 60%;
    margin-left: 30px;
}

.meet-content__right > h1 {
    margin-bottom: 5px;
}

.meet-content__right > p {
    padding-top: 20px;
}

.meet-content__right > h3 {
    margin-top: 40px;
    margin-bottom: 5px;
    border-bottom: var(--border-stroke);
}

/****************** MEDIA QUERY ******************/


/************************************* 
small screens 
*************************************/
@media screen and (max-width: 1024px) {

    /************************************* 
    home page
    *************************************/
    .home-content__left-column {
        width: 27%;
    }

    .home-content__right-column {
        width: 73%;
    }

    .portfolio-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-left: 7%;
    }

    .portfolio-grid__item {
        height: 300px;
    }
}

/************************************* 
tablet
*************************************/
@media screen and (max-width: 768px) {
    /************************************* 
    all pages 
    *************************************/

    .navbar-links {
        gap: 25px;
    }

    .navbar-links__item,
    a {
        font-size: 1em;
    }

    /************************************* 
    home page
    *************************************/
    .about-content__image {
        height: 500px;
    }

    .home-content__left-column {
        width: 40%;
    }

    .home-content__right-column {
        width: 60%;
    }

    .portfolio-grid {
        display: block;
        margin-left: 10%;
    }

    .portfolio-grid__item {
        height: 400px;
        margin: 20px 0;
    }

    /************************************* 
    about page
    *************************************/
    .about-content {
        display: block;
    }

    .content-leftcolumn {
        width: 100%;
    }

    .about-content__image {
        border-radius: 20px;
        -webkit-animation: appear_up 1.5s ease-out;
                animation: appear_up 1.5s ease-out;
    }

    .content-rightcolumn {
        padding: 20px 0;
        width: 100%;
    }

    .about-grid {
        padding: 20px 0;
    }

    /************************************* 
    contact page
    *************************************/
    .input-area {
        width: 100%;
    }

}

/************************************* 
mobile
*************************************/
@media screen and (max-width: 480px) {

    /************************************* 
    all pages 
    *************************************/
    * {
        font-size: 0.95em;
    }

    h1 {
        font-size: 1.1em;
    }

    .container {
        width: 90%;
        padding: 0;
    }

    nav {
        height: 100px;
    }

    .navbar-logo img {
        width: 90px;
    }

    .navbar-links {
        font-size: 1em;
    }

    /************************************* 
    home page
    *************************************/
    .home-content {
        display: block;
    }

    .home-content__left-column {
        width: 100%;
        border-radius: 20px;
        min-width: auto;
        padding: 30px 0;
    }

    .sticky-container {
        position: static;
    }

    .home-content__right-column {
        padding: 10px 0 50px 0;
        width: 100%;
    }

    .portfolio-grid {
        margin-left: 0;
    }

}